{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="d-block">
        {{ range .Params.Categories }}
        <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary"><i class="fas fa-folder"></i><span style="margin-left:5px;">{{ . | title | humanize }}</span></a>
        {{ end }}
        </div>
        <div class="d-block my-3">
        {{ range .Params.Tags }}
        <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary"><i class="fas fa-tag"></i><span style="margin-left:5px; margin-right:10px;">{{ . | title | humanize }}</span></a>
        {{ end }}
        </div>
        <h2 style="margin-top:30px;">{{ .Title | markdownify }}</h2>
        <div class="mb-3 post-meta">
          <!--<span>By {{ .Site.Params.Author }}</span>-->
          {{ if not .Params.HideDate }}
          <!--<span class="border-bottom border-primary px-2 mx-1"></span>-->
          <i class="far fa-clock"></i><span style="margin-left:10px;">{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ if .Params.update }}
          <span style="margin-right:20px;">,</span><i class="fas fa-sync-alt"></i><span style="margin-left:10px;">{{ dateFormat "02 January 2006" .Params.update }}</span>
          {{ end }}
          {{ end }}
        </div>
        {{ if .Params.image }}
        <img src="{{ .Permalink }}{{ .Params.Image }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>

        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}